<h2>Eterny Legacy Types and Categories</h2>

<h3>Identity</h3>
<ul>
  <li>passport</li>
  <li>national_id</li>
  <li>driver_license</li>
  <li>visa</li>
  <li>social_security_number</li>
</ul>

<h3>Family</h3>
<ul>
  <li>birth_certificate</li>
  <li>marriage_certificate</li>
  <li>divorce_papers</li>
  <li>diploma</li>
</ul>

<h3>Financial</h3>
<ul>
  <li>bank_account_contract</li>
  <li>credit_card_contract</li>
  <li>credit_card</li>
  <li>investment_account_contract</li>
  <li>investment_contract</li>
  <li>investment_app</li>
  <li>retirement_savings_contract</li>
  <li>retirement_employer_contribution_document</li>
  <li>retirement_account_annual_statement</li>
</ul>

<h3>Real Estate</h3>
<ul>
  <li>property_deed</li>
  <li>buyers_agreement</li>
  <li>confirmation_of_membership_in_cooperative</li>
  <li>confirmation_of_debt_free_status_towards_cooperative</li>
  <li>confirmation_of_anuity</li>
  <li>rental_agreement</li>
  <li>own_rental_agreement</li>
  <li>proof_of_property_ownership_transfer</li>
</ul>

<h3>Insurance Policies</h3>
<ul>
  <li>life_insurance_contract</li>
  <li>life_insurance_claim</li>
  <li>home_insurance_contract</li>
  <li>disability_long_term_care_insurance_contract</li>
  <li>disability_long_term_care_insurance_claim</li>
  <li>disability_recognition_decision</li>
</ul>

<h3>Liabilities</h3>
<ul>
  <li>electricity_bill</li>
  <li>gas_bill</li>
  <li>water_bill</li>
  <li>internet_bill</li>
  <li>phone_bill</li>
  <li>tv_subscription</li>
  <li>social_media_subscription_bill</li>
  <li>vehicle_leasing_contract</li>
  <li>loan_contract</li>
  <li>tax_return</li>
  <li>mortgage_contract</li>
</ul>

<h3>Digital Accounts</h3>
<ul>
  <li>cryptocurrency_account</li>
  <!-- Optionally add: email_account, cloud_storage_account, social_media_account, etc. -->
</ul>

<h3>Personal Belongings</h3>
<ul>
  <li>technical_document</li>
  <li>technical_check_up</li>
  <li>car_insurance_contract</li>
  <li>vehicle_registration</li>
  <li>type_of_collectible</li>
  <li>description_and_appraisal_report</li>
  <li>purchase_receipt</li>
  <li>appraisal_certificate</li>
  <li>insurance_policy</li>
  <li>copyright_certificate</li>
  <li>patent_document</li>
  <li>licensing_agreement</li>
</ul>

<h3>Businesses</h3>
<ul>
  <li>shareholder_agreement</li>
  <li>company_founding_document</li>
  <li>shareholder_paper</li>
  <li>buy_sell_agreement</li>
  <li>business_license</li>
  <li>financial_statement</li>
  <li>company_tax_return</li>
  <li>contract_and_agreement</li>
  <li>certification_record</li>
  <li>employee_contract</li>
  <li>copyright_license</li>
  <li>employee_insurance</li>
</ul>

<h3>Miscellaneous</h3>
<ul>
  <li>other</li>
</ul>
