
1. when the docu does not exist on the url - 404
2. when the permissions do not match on the docu - 404
3. docu url should be it's hash
4. pull docus on the JS

1. update_document_version endpoint
2. employ output_language
3. for images list them on home with images icons, docus as documents

1. assure only the document owner can update document or document metadata


1. employ status analysis_status "pending", "processing", "processed"


AI
1. determin ai_expires




1. timezone consideration?

e.g.:
import httpx

def get_timezone_from_ip(ip_address: str):
    response = httpx.get(f"https://ipapi.co/{ip_address}/timezone/")
    return response.text





1. test all these files:
pdf, doc, docx, rtf, txt, md, odt
